In [1]:
import os
os.environ["PYSPARK_PYTHON"] = r"C:\Users\krish\anaconda3\python.exe"
os.environ["PYSPARK_DRIVER_PYTHON"] = r"C:\Users\krish\anaconda3\python.exe"

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .appName("DataFrame Basics") \
    .getOrCreate()

In [4]:
customer_list = [
    (0, "Customer_0", "Pune", "Maharashtra", "India", "2023-06-29", False),
    (1, "Customer_1", "Bangalore", "Tamil Nadu", "India", "2023-12-07", True),
    (2, "Customer_2", "Hyderabad", "Gujarat", "India", "2023-10-27", True),
    (3, "Customer_3", "Bangalore", "Karnataka", "India", "2023-10-17", False),
    (4, "Customer_4", "Ahmedabad", "Karnataka", "India", "2023-03-14", False),
    (5, "Customer_5", "Hyderabad", "Karnataka", "India", "2023-07-28", False),
    (6, "Customer_6", "Pune", "Delhi", "India", "2023-08-29", False),
]

columns = [
    "customer_id", "name", "city", "state", "country", "registration_date", "is_active"
]

In [5]:
customer_data = spark.createDataFrame(customer_list, columns)
customer_data.show()

+-----------+----------+---------+-----------+-------+-----------------+---------+
|customer_id|      name|     city|      state|country|registration_date|is_active|
+-----------+----------+---------+-----------+-------+-----------------+---------+
|          0|Customer_0|     Pune|Maharashtra|  India|       2023-06-29|    false|
|          1|Customer_1|Bangalore| Tamil Nadu|  India|       2023-12-07|     true|
|          2|Customer_2|Hyderabad|    Gujarat|  India|       2023-10-27|     true|
|          3|Customer_3|Bangalore|  Karnataka|  India|       2023-10-17|    false|
|          4|Customer_4|Ahmedabad|  Karnataka|  India|       2023-03-14|    false|
|          5|Customer_5|Hyderabad|  Karnataka|  India|       2023-07-28|    false|
|          6|Customer_6|     Pune|      Delhi|  India|       2023-08-29|    false|
+-----------+----------+---------+-----------+-------+-----------------+---------+

In [6]:
df2 = spark.read \
    .format('csv') \
    .option('header', 'true') \
    .option('inferSchema', "true") \
    .load('../Data/Customer Data.csv')

In [7]:
df2.show()
df2.printSchema()

+-----------+-----------+---------+-----------+-------+-----------------+---------+
|customer_id|       name|     city|      state|country|registration_date|is_active|
+-----------+-----------+---------+-----------+-------+-----------------+---------+
|          0| Customer_0|     Pune|West Bengal|  India|       2023-10-10|     true|
|          1| Customer_1|Bangalore|    Gujarat|  India|       2023-10-19|    false|
|          2| Customer_2|Bangalore|  Karnataka|  India|       2023-02-10|     true|
|          3| Customer_3|Bangalore|  Telangana|  India|       2023-03-24|     true|
|          4| Customer_4|Hyderabad|  Telangana|  India|       2023-06-04|    false|
|          5| Customer_5|Hyderabad|West Bengal|  India|       2023-07-26|     true|
|          6| Customer_6|Hyderabad|  Karnataka|  India|       2023-08-07|    false|
|          7| Customer_7|Bangalore|  Telangana|  India|       2023-08-25|     true|
|          8| Customer_8|Bangalore|Maharashtra|  India|       2023-07-13|    false|
|          9| Customer_9|Ahmedabad|      Delhi|  India|       2023-07-30|    false|
|         10|Customer_10|  Chennai|    Gujarat|  India|       2023-01-14|    false|
|         11|Customer_11|     Pune|West Bengal|  India|       2023-04-10|     true|
|         12|Customer_12|    Delhi| Tamil Nadu|  India|       2023-06-20|     true|
|         13|Customer_13|Ahmedabad|      Delhi|  India|       2023-11-09|     true|
|         14|Customer_14|Ahmedabad|West Bengal|  India|       2023-02-18|     true|
|         15|Customer_15|   Mumbai|  Telangana|  India|       2023-04-25|    false|
|         16|Customer_16|    Delhi| Tamil Nadu|  India|       2023-04-25|    false|
|         17|Customer_17|  Chennai|    Gujarat|  India|       2023-05-05|    false|
|         18|Customer_18|Ahmedabad|    Gujarat|  India|       2023-08-06|     true|
|         19|Customer_19|    Delhi|  Telangana|  India|       2023-04-27|     true|
+-----------+-----------+---------+-----------+-------+-----------------+---------+
only showing top 20 rows

root
 |-- customer_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- registration_date: date (nullable = true)
 |-- is_active: boolean (nullable = true)

In [8]:
selected_cols = df2.select('customer_id', 'name', 'city')
selected_cols.show()

+-----------+-----------+---------+
|customer_id|       name|     city|
+-----------+-----------+---------+
|          0| Customer_0|     Pune|
|          1| Customer_1|Bangalore|
|          2| Customer_2|Bangalore|
|          3| Customer_3|Bangalore|
|          4| Customer_4|Hyderabad|
|          5| Customer_5|Hyderabad|
|          6| Customer_6|Hyderabad|
|          7| Customer_7|Bangalore|
|          8| Customer_8|Bangalore|
|          9| Customer_9|Ahmedabad|
|         10|Customer_10|  Chennai|
|         11|Customer_11|     Pune|
|         12|Customer_12|    Delhi|
|         13|Customer_13|Ahmedabad|
|         14|Customer_14|Ahmedabad|
|         15|Customer_15|   Mumbai|
|         16|Customer_16|    Delhi|
|         17|Customer_17|  Chennai|
|         18|Customer_18|Ahmedabad|
|         19|Customer_19|    Delhi|
+-----------+-----------+---------+
only showing top 20 rows